.nav-link {

  color: #333333 !important;
  font-size: 1rem;
  /* font-weight: bold; */
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
  color: #007bff !important;
  border-bottom: 2px solid #007bff !important;
  background-color: #f8f8f8;
}

.tab-content {
  border: none;
  padding: 1rem;
  /* background-color: #f8f8f8; */
  border-radius: 0.25rem;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flex{
  display: flex;
}

.alignCenter {
  justify-content: center;
  align-items: center;
}

.button1 {
  border-radius: 20px 0 0 20px !important;
}

.button2 {
  border-radius: 0 20px 20px 0 !important;
}
.button1:hover, .button2:hover{
 color:white;
}

.buttonNotSelected {
  background-color: grey;
  color: black;
  border:0px !important;
}

.buttonSelected {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important; 
  border: 3px solid #0D6EF2;
}
.noDots{
  list-style: none;
}
.dropDown{
  width:40%;
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x:scroll;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto !important;
  position: absolute;
  background-color: white;
  z-index: 5;
}

.alignMessageCenter{
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.colorRed{
  color:red !important;
  font-size:small;
}

.colorGreen{
  color:green !important;
  font-size:small;
}

.blueItalicText{
  font-size: small;
  color:#0D6EF2;
  font-style: italic;
}

.searchList{
  position: absolute;
  z-index: 5;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 35%;
}

.searchListItem:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}
/* ---------------------------------------------------------------------------- */
.button-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.button-input {
  display: none;
}

/* Style the first button */
#button1:checked  {
  background-color: #f00;
  color: #fff;
  transform: translateX(50px);
}

/* Style the second button */
#button2:checked {
  background-color: #00f;
  color: #fff;
  transform: translateX(-50px);
}