.my-form {
  margin: 20px;
}

.my-form-button {
  background-color: blue;
  color: white;
}

.form-label {
  font-size: larger;
  font-weight: 500;
}

.mainPageHeading {
  text-align: center;
  color: white;
  padding: 8px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 10px;
}
